<!DOCTYPE html>
<html>

</html>

<head>
  <meta charset="utf-8">
  <title>Alan's web</title>
  <link rel="stylesheet" href="static/css/styles.css">

</head>
<body >
  <strong>
  <table cellspacing="20">
    <tr>
      <td> <img src="static/alan1.png" width=200px height=auto alt="picture of Alan Saji"></td>
      <td>
        <h1>Alan Saji</h1>
        <p>
          Student of <strong><a href="https://vitbhopal.ac.in/">VIT Bhopal</a></strong>
        </p>
        <h4> <strong>Department:</strong> CSE</h4>
        <h4><em><strong>Speciaisation:</strong> gaming tecnology</em> </h4>
        <p><em>I made this website when I was learning html for the first time</em></p>
      </td>
    </tr>

  </table>



  <hr  >

  <h3>Edcation</h3>
  <ul><strong>
    <li><a href="http://sarvodayavidyalaya.edu.in/">Sarvodaya Vidyalaya(ICSE)</a> trivandrum till class 10 </li>
  <li><a href="https://www.stthomastvm.edu.in/">St Thomas Residential School(ISC) </a>in 11th and 12th

  </li>
  <li>BTECH in CSE at VIT Bhopal University </li>
</ul>
<hr  >
<h3> Hobbies</h3>
<ol>
  <li>reading books
  </li>
  <li>playing <a href="https://playvalorant.com/en-us/?gclid=Cj0KCQiA99ybBhD9ARIsALvZavXKR2IaaBn7IYVKZN_6I3_bDIRkzVm7lErPytfMIvEmi8wFm40Zd4caAs4oEALw_wcB&gclsrc=aw.ds">valorant</a></li>
  <li> learning new things</li>
</ol>
<hr  >
<h3>skills</h3>
<table cellspacing="20">
  <tr>
    <td><p>Python ⭐⭐</p>
    <p>Java ⭐⭐⭐</p></td>
    <td><p>singing ⭐⭐⭐</p>
    <p>Valorant ⭐⭐⭐⭐⭐</p> </td>
  </tr>
</table>
<hr>
<h3><a href="static/contactinfo.html">Contact me</a></h3>
</strong>
