<!DOCTYPE HTML>

<html>
	<head>
		<title>Alan Saji</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>Alan Saji</h1>
				<nav>
					<ul>
						<li><a href="#intro">Intro</a></li>
						<li><a href="#one">What I Do</a></li>
						<li><a href="#two">Who I Am</a></li>
						<li><a href="#work">My Work</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</nav>
			</header>

		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<header>
						<h2>Hey.. I am Alan</h2>
					</header>
					<p>A passionate tech enthusiast. I code, design and play football.</p>
					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>What I Do</h2>
					</header>
					<p>I am a dedicated and skilled coder with a strong emphasis on Python programming. Aspiring to excel in the realm of backend development and
						engineering, I have successfully undertaken numerous
						web development projects, showcasing my proficiency in crafting efficient and
						robust solutions. Alongside my expertise in web development, I am deeply intrigued by modern machine
						learning, constantly seeking opportunities to integrate cutting-edge
						technologies into my projects. Through a combination of technical
						prowess and a relentless drive for innovation, I am poised to
						contribute significantly to the ever-evolving landscape of technology.</p>
				</div>
				<a href="#two" class="button style2 down anchored">Next</a>
			</section>

		<!-- Two -->
			<section id="two" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>Who I Am</h2>
					</header>
					<p>Hailing from the vibrant state of Kerala, India, I find myself immersed in the dynamic world of technology.
						currently in my third year pursuing an undergraduate degree in
						Computer Science with a specialization in Gaming Technology at <a href="https://vitbhopal.ac.in/" >VIT Bhopal<a/>,
						I am passionate about the convergence of creativity and innovation in the
						digital realm. My journey in the world of coding and development is not only
						marked by academic achievements but also by a genuine enthusiasm for exploring
						the endless possibilities that technology presents</p>
				</div>
				<a href="#work" class="button style2 down anchored">Next</a>
			</section>

		<!-- Work -->
			<section id="work" class="main style3 primary">
				<div class="content">
					<header>
						<h2>My Work</h2>
						<a href="https://github.com/Alansaji2003"><p>Some of my recent projects!. Click here to go to github!</p></a>
					</header>

					<!-- Gallery  -->
						<div class="gallery">
							<article class="from-left">
								<a href="static/images/fulls/01.jpg" class="image fit"><img src="static/images/thumbs/01.jpg" title="instagram-bot-image" alt="" /></a>
								<p>Instagram bot</p>
							</article>
							<article class="from-right">
								<a href="static/images/fulls/02.jpg" class="image fit"><img src="static/images/thumbs/02.jpg" title="Airchitecture II" alt="" /></a>
								<p>Twitter complain bot</p>
							</article>
							<article class="from-left">
								<a href="static/images/fulls/03.jpg" class="image fit"><img src="static/images/thumbs/03.jpg" title="Air Lounge" alt="" /></a>
								<p>Amazon price tracker</p>
							</article>
							<article class="from-right">
								<a href="static/images/fulls/04.jpg" class="image fit"><img src="static/images/thumbs/04.jpg" title="Carry on" alt="" /></a>
								<p>Tinder Auto-swiping bot</p>
							</article>
							<article class="from-left">
								<a href="static/images/fulls/05.jpg" class="image fit"><img src="static/images/thumbs/05.jpg" title="The sparkling shell" alt="" /></a>
								<p>Linkdin autobot</p>
							</article>
							<article class="from-right">
								<a href="static/images/fulls/06.jpg" class="image fit"><img src="static/images/thumbs/06.jpg" title="Bent IX" alt="" /></a>
								<p>Spotify playlist Maker</p>
							</article>
						</div>

				</div>
			</section>

		<!-- Contact -->
			<section id="contact" class="main style3 secondary">
				<div class="content">
					<header>
						<h2>Say Hello.</h2>
						<p>Lets connect and have fun!.</p>
					</header>
					<div class="box">
						<form method="POST" action="https://formspree.io/f/xoqozvdb">
							<div class="fields">
								<div class="field half"><input type="text" name="name" placeholder="Name" /></div>
								<div class="field half"><input type="email" name="email" placeholder="Email" /></div>
								<div class="field"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
							</div>
							<ul class="actions special">
								<li><input type="submit" value="Send Message" /></li>
							</ul>
						</form>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">

				<!-- Icons -->
					<ul class="icons">
						<li><a href="https://twitter.com/AlanSaji2003" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/alanatul.saji/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/_x_alan_x._/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.linkedin.com/in/alan-saji-b346091b6/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>
					</ul>

				<!-- Menu -->
					<ul class="menu">
						<li>&copy; ALAN</li><li>Design: <a href="">Me</a></li>
					</ul>

			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.poptrox.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>